<div class="entry" data-id="%entry-id%">
  <div class="title">
    <div class="left hidden">
      <div class="button hidden" data-button="expand">
        <i class="fas fa-caret-square-down grey"></i>
      </div>
      <div class="button hidden" data-button="switch">
        <i class="fas fa-exchange-alt grey"></i>
      </div>
    </div>
    <div class="middle">
      %currency-name%
    </div>
    <div class="right">
      <div class="timeout hidden"></div>
      <div class="button hidden" data-button="close">
        <i class="fas fa-window-close grey"></i>
      </div>
    </div>
  </div>
  <div class="content center">
    <div class="item">
      <div class="confidence %conf-receive-color%-bg"></div>
      <div data-switch class="confidence %conf-pay-color%-bg hidden"></div>
      <div class="price">
        <img data-switch class="icon right-margin" src="%currency-icon%">
        <img data-switch class="icon right-margin hidden" src="%chaos-icon%">
        <span class="value">1</span>
        <i class="fas fa-arrow-right"></i>
        <span data-switch class="value">%receive%</span>
        <span data-switch class="value hidden">%pay%</span>
        <img data-switch class="icon left-margin" src="%chaos-icon%">
        <img data-switch class="icon left-margin hidden" src="%currency-icon%">
        <span data-switch>
          <div class="trend">
            %receive-trend%
          </div>
        </span>
        <span data-switch class="hidden">
          <div class="trend">
            %pay-trend%
          </div>
        </span>
      </div>
    </div>
    <div class="hidden" data-expand>
      <div data-switch class="header grey">
        Stack value
      </div>
      <div data-switch class="header grey hidden">
        Based on receive value
      </div>
      <div class="item">
        <div data-switch class="confidence %conf-receive-color%-bg"></div>
        <div class="price">
          <img data-switch class="icon right-margin" src="%currency-icon%">
          <img data-switch class="icon right-margin hidden" src="%chaos-icon%">
          <span data-switch class="value">%stacksize%</span>
          <span data-switch class="value hidden">1</span>
          <i class="fas fa-arrow-right"></i>
          <span data-switch class="value">%calculated-receive%</span>
          <span data-switch class="value hidden">%calculated-pay%</span>
          <img data-switch class="icon left-margin" src="%chaos-icon%">
          <img data-switch class="icon left-margin hidden" src="%currency-icon%">
        </div>
      </div>
    </div>
  </div>
</div>
