<div class="entry" data-id="%entry-id%">
  <div class="title">
    <div class="left hidden">
      <div class="button">
        <a class="hidden" href="#" data-button="switch"><i class="fas fa-exchange-alt grey"></i></a>
      </div>
    </div>
    <div class="middle">
      %item-name% <span class="grey">%item-info%</span>
    </div>
    <div class="right">
      <div class="timeout"></div>
      <div class="button">
        <a class="hidden" href="#" data-button="close"><i class="fas fa-window-close grey"></i></a>
      </div>
    </div>
  </div>
  <div class="content center">
    <div class="item">
      <div class="confidence %conf-color%-bg"></div>
      <div class="price">
        <img class="icon right-margin" alt="%item-name%" src="%item-icon%">
        <i class="fas fa-arrow-right"></i>
        <span class="value" data-switch="%entry-id%">%item-value-chaos%</span>
        <span class="value hidden" data-switch="%entry-id%">%item-value-exalted%</span>
        <img class="icon left-margin" data-switch="%entry-id%" alt="Chaos Orb" src="%chaos-icon%">
        <img class="icon left-margin hidden" data-switch="%entry-id%" alt="Exalted Orb" src="%exalted-icon%">
        <div class="trend hidden">
          %trend%
        </div>
      </div>
    </div>
  </div>
</div>
