<div class="entry" data-id="%entry-id%">
  <div class="title">
    <div class="left" style="display: none">
      <div class="button" data-button="switch" style="display: none">
        <i class="fas fa-exchange-alt grey"></i>
      </div>
    </div>
    <div class="middle">
      %item-name% <span class="grey">%item-info%</span>
    </div>
    <div class="right">
      <div class="timeout" style="display: none"></div>
      <div class="button" data-button="close" style="display: none">
        <i class="fas fa-window-close grey"></i>
      </div>
    </div>
  </div>
  <div class="content center">
    <div class="item">
      <div class="confidence %conf-color%-bg"></div>
      <div class="price">
        <img class="icon" alt="%item-name%" src="%item-icon%">
        <i class="fas fa-arrow-right"></i>
        <span class="value" data-switch="%entry-id%">%item-value-chaos%</span>
        <span class="value" data-switch="%entry-id%" style="display: none">%item-value-exalted%</span>
        <img class="icon left-margin" data-switch="%entry-id%" alt="Chaos Orb" src="%chaos-icon%">
        <img class="icon left-margin" data-switch="%entry-id%" alt="Exalted Orb" src="%exalted-icon%" style="display: none">
        <div class="trend" style="display: none">
          %trend%
        </div>
      </div>
      <div class="note-max-rolls green" style="display: none;">
        <span class="count">0</span> mods are max rolls:
        <ul class="mod-list"></ul>
      </div>
    </div>
  </div>
</div>
