<div class="entry" data-id="%entry-id%">
  <div class="title">
    <div class="left" style="display: none">
      <div class="button" data-button="expand" style="display: none">
        <i class="fas fa-caret-square-down grey"></i>
      </div>
      <div class="button" data-link="%link%" style="display: none">
        <i class="fas fa-external-link-square-alt grey"></i>
      </div>
    </div>
    <div class="middle">
      %item-name% <span class="grey">%item-baseType%</span>
    </div>
    <div class="right">
      <div class="timeout" style="display: none"></div>
      <div class="button" data-button="close" style="display: none">
        <i class="fas fa-window-close grey"></i>
      </div>
    </div>
  </div>
  <div class="content center">
    <div class="feedback">
      <div class="row">
        <div class="cell info grey" data-feedback-info>
          Predicted price range is
        </div>
        <div class="cell option" data-feedback="fair">
          Fair
        </div>
        <div class="cell option" data-feedback="high">
          High
        </div>
        <div class="cell option" data-feedback="low">
          Low
        </div>
      </div>
    </div>
    <div class="feedback" data-comment style="display: none; border-top: 1px solid #202630">
      <div class="row">
        <div class="cell textarea">
          <textarea placeholder="Add comment (optional)"></textarea>
        </div>
        <div class="cell option" data-feedback-send>
          Send
        </div>
      </div>
    </div>
    <div class="item">
      <div class="price">
        <img class="icon" alt="%item-name%" src="%item-icon%">
        <i class="fas fa-arrow-right"></i>
        <span class="value">%item-value-min%</span>
        <span class="value grey">~</span>
        <span class="value">%item-value-max%</span>
        <img class="icon left-margin" alt="%currency-name%" src="%currency-icon%">
      </div>
      <div data-expand class="header grey" style="display: none">
        Contribution to predicted price
      </div>
      <div data-expand class="explanation" style="display: none">
        <table class="explanation-table"><tbody></tbody></table>
      </div>
      <hr data-expand style="display: none" />
      <div data-expand class="header grey" style="display: none; padding: 0px 5px 5px 5px;">
        Powered by <b data-link="https://poeprices.info">poeprices.info</b>, support them via
        <i data-link="https://www.paypal.me/poeprices/5" class="fab fa-paypal"></i> or
        <i data-link="https://www.patreon.com/poeprices" class="fab fa-patreon"></i>
      </div>
      <div class="note-max-rolls green" style="display: none;">
        <span class="count">0</span> mods are max rolls:
        <ul class="mod-list"></ul>
      </div>
    </div>
  </div>
</div>
