<div class="entry" data-id="%entry-id%">
  <div class="title">
    <div class="left">
      <div class="icon">
        <i class="fas %icon%"></i>
      </div>
    </div>
    <div class="middle">
      %title%
    </div>
    <div class="right">
      <div class="timeout"></div>
      <div class="button">
        <a class="hidden" href="#" data-button="close"><i class="fas fa-window-close grey"></i></a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="text grey">%text%</div>
  </div>
</div>
