<div class="entry" data-id="%entry-id%">
  <div class="title">
    <table>
      <tbody>
        <tr>
          <td class="shrink">
            <i class="fas %icon%"></i>
          </td>
          <td class="expand">
            <span>%title%</span>
          </td>
          <td class="shrink">
            <span id="timeout" class="very-small grey"></span>
            <a href="#" id="closeButton" class="hidden"><i class="fas fa-times-circle grey"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
