<div class="entry" data-id="%entry-id%">
  <table>
    <tbody>
      <tr>
        <td class="shrink top">
          <p><a href="#" id="switchButton" class="hidden"><i class="fas fa-exchange-alt grey"></i></a></p>
          <p><a href="#" id="trendButton" class="hidden"><i class="fas fa-chart-line grey"></i></a></p>
        </td>
        <td class="expand top">
          <span class="item-name grey uppercase small">%currency-name%</span>
          <a href="#" id="expandButton" class="hidden" style="float: right"><i class="fas fa-caret-square-down grey"></i></a>
          <table data-switch="%entry-id%">
            <tbody>
              <tr>
                <td><img alt="%currency-name%" class="icon left" src="%currency-icon%"></td>
                <td>1</td>
                <td class="arrow"><i class="fas fa-long-arrow-alt-right %conf-receive-color%"></i></td>
                <td>%receive%</td>
                <td><img alt="Chaos Orb" class="icon right" src="%chaos-icon%"></td>
              </tr>
              <tr data-expand="%entry-id%" class="hidden">
                <td colspan="5"><span class="item-name grey uppercase small">Stack size value</span></td>
              </tr>
              <tr data-expand="%entry-id%" class="hidden">
                <td><img alt="%currency-name%" class="icon left" src="%currency-icon%"></td>
                <td>%stacksize%</td>
                <td class="arrow"><i class="fas fa-long-arrow-alt-right %conf-receive-color%"></i></td>
                <td>%calculated-receive%</td>
                <td><img alt="Chaos Orb" class="icon right" src="%chaos-icon%"></td>
              </tr>
              <tr data-trend="%entry-id%" class="hidden">
                <td colspan="5"><span class="trend">%receive-trend%</span></td>
              </tr>
            </tbody>
          </table>
          <table data-switch="%entry-id%" class="hidden">
            <tbody>
              <tr>
                <td><img alt="Chaos Orb" class="icon left" src="%chaos-icon%"></td>
                <td>1</td>
                <td class="arrow"><i class="fas fa-long-arrow-alt-right %conf-pay-color%"></i></td>
                <td>%pay%</td>
                <td><img alt="%currency-name%" class="icon right" src="%currency-icon%"></td>
              </tr>
              <tr data-expand="%entry-id%" class="hidden">
                <td colspan="5"><span class="item-name grey uppercase small">Based on receive value</span></td>
              </tr>
              <tr data-expand="%entry-id%" class="hidden">
                <td><img alt="Chaos Orb" class="icon left" src="%chaos-icon%"></td>
                <td>1</td>
                <td class="arrow"><i class="fas fa-long-arrow-alt-right grey"></i></td>
                <td>%calculated-pay%</td>
                <td><img alt="%currency-name%" class="icon right" src="%currency-icon%"></td>
              </tr>
              <tr data-trend="%entry-id%" class="hidden">
                <td colspan="5"><span class="trend">%pay-trend%</span></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="shrink top">
          <p><a href="#" id="closeButton"><i class="fas fa-times-circle grey"></i></a></p>
          <p><span id="timeout" class="very-small grey"></span></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
