<div class="entry" data-id="%entry-id%">
  <table>
    <tbody>
      <tr>
        <td class="shrink top">
          <i class="fas %icon%"></i>
        </td>
        <td class="expand">
          <span class="uppercase">%title%</span><br />
          <span class="small uppercase grey">%text%</span>
        </td>
        <td class="shrink top">
          <p>
            <a href="#" id="closeButton" class="hidden"><i class="fas fa-times-circle grey"></i></a>
          </p>
          <p id="timeout" class="small grey"></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
