[data-link], [data-button], [data-entry-link], [data-toggle] {
  cursor: pointer !important;
}

[data-entry-link] {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}

.row  {
  display: table-row;
}

.button {
  display: inline-block;
  margin: 0px 1px 0px 1px;
}

.button i {
  cursor: pointer !important;
}

.left-margin {
  margin-left: 5px;
}

.right-margin {
  margin-right: 5px;
}

.top-padding-10 {
  padding-top: 10px !important;
}

.no-wrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.draggable {
  -webkit-app-region: drag;
}

.small {
  font-size: 10px !important;
}

.white {
  color: #e6eaf2 !important;
}

.grey {
  color: #748199 !important;
}

.green {
  color: #9ae055 !important;
}

.blue {
  color: #70d1ff !important;
}

.yellow {
  color: #e0cf55 !important;
}

.red {
  color: #d14f4f !important;
}

.green-bg {
  background-color: #9ae055 !important;
  color: #447018 !important;
}

.yellow-bg {
  background-color: #e0cf55 !important;
  color: #877915 !important;
}

.red-bg {
  background-color: #d14f4f !important;
  color: #701313 !important;
}
