* {
  color: #e6eaf2;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

html, body {
  background-color: #202630;
  margin: 0 auto;
}

.header {
  background-color: #171c23;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #c5d3e8;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: normal;
}

.header .text {
  padding-right: 15px;
}

.header a {
  -webkit-app-region: no-drag;
}

i {
  vertical-align: top;
  padding-top: 2px;
}

table {
  border-collapse: collapse;
}

table td.shrink {
  white-space: nowrap;
}

table td.expand {
  width: 99%;
}

table td.top {
  vertical-align: top;
}

.title {
  border-top: 1px solid #303a4c;
  border-bottom: 1px solid #303a4c;
  background-color: #272f3d;
  padding: 0px 5px 2px 5px;
  margin: 1px 0px 0px 0px;
  font-size: 11px;
  vertical-align: middle;
}

.title span {
  padding: 0px 0px 0px 5px;
  pointer-events: none;
}

.title span#timeout {
  padding-right: 3px;
  pointer-events: none;
}

.title a i {
  padding-right: 2px;
}

.content {
  background-color: #202630;
  padding: 5px 5px 5px 5px;
  text-align: justify;
  font-size: 12px;
}

.content img.icon {
  height: 20px;
  width: auto;
  vertical-align: middle;
}

.content table td {
  text-align: center;
}

.settings .content table td {
  background-color: #272f3d;
  padding: 5px;
}

.settings .content td a {
  line-height: 0;
}

.content table {
  margin: 0 auto;
}

.content .text {
  color: #748199;
  font-size: 10px;
}

.entry .content svg {
  margin: 5px 0px 0px 0px;
}

.entry .content img.left {
  margin: 0px 5px 0px 0px;
}

.entry .content img.right {
  margin: 0px 0px 0px 5px;
}

.entry .content .arrow {
  padding: 2px 8px 0px 8px;
  vertical-align: middle;
}

label.wrap {
  width: 290px;
  overflow: hidden;
  position: relative;
  display: block;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #272f3d repeat;
  padding: 7px;
  font-size: 11px;
  border: 0;
  width: 290px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

label.wrap:after {
  content:"\f150";
  font-family: "Font Awesome\ 5 Free";
  color: #748199;
  position: absolute;
  right: 0;
  top: 7px;
  z-index: 1;
  width: 6%;
  pointer-events: none;
}
