* {
  color: #e6eaf2;
  overflow: hidden;
  font-size: 12px;
  letter-spacing: 0.9px;
}

p {
  margin: 0px;
}

html, body {
  background-color: #202630;
  margin: 0 auto;
}

i {
    bottom: -4px;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #171c23;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #c5d3e8;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.header a {
  -webkit-app-region: no-drag
}

table {
  margin: 2px auto;
  border-collapse: collapse;
}

.entry {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: #202630;
  border-bottom: 1px solid #232a35;
  padding: 3px 5px 0px 5px;
}

.entry img.icon {
  height: 18px;
  width: auto;
  vertical-align: middle;
}

.entry img.left {
  margin: 0px 5px 0px 0px;
}

.entry img.right {
  margin: 0px 0px 0px 5px;
}

.entry table td {
  text-align: center;
}

.entry table td.shrink {
    white-space: nowrap;
}

.entry table td.arrow {
    padding: 0px 10px 0px 10px;
}

.entry table td.expand {
    width: 99%;
}

.entry table td.top {
    vertical-align: top;
}
