html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

i {
  vertical-align: middle;
}

.header {
  width: 100%;
  display: block;
  background-color: #171c23;
  font-size: 13px;
  text-align: right;
  padding: 0px 0px 3px 0px;
}

.header .button {
  margin-right: 3px;
  -webkit-app-region: no-drag;
}

.sidebar {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 25%;
  height: 100%;
  float: left;
  background-color: #202630;
}

.link {
  border-bottom: 1px solid #272f3d;
  padding: 10px;
  cursor: pointer;
}

.link .label {
  color: #e6eaf2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.link i {
  line-height: 25px;
  float: right;
  margin-right: 5px;
  color: #748199;
}

.version {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #424b5b;
  padding: 10px 0px;
  font-size: 12px;
  font-weight: 700;
  bottom: 0;
  margin-bottom: 20px;
}

.active {
  background-color: #272f3d !important;
  cursor: default !important;
}

.settings {
  overflow: auto;
  width: 75%;
  height: 100%;
  background-color: #272f3d;
}

.settings::-webkit-scrollbar {
  width: 5px;
}

.settings::-webkit-scrollbar-track {
  background-color: #272f3d;
}

.settings::-webkit-scrollbar-thumb {
  background-color: #404c60;
}

.content {
  color: #e6eaf2;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

.content .title {
  text-transform: uppercase;
  font-size: 22px;
  margin: 25px -20px 25px -20px;
  padding: 5px 20px;
  background-color: #303b4c;
}

.content .title .button {
  border-left: 3px solid #272f3d;
  margin-top: -5px;
  margin-right: -20px;
  float: right;
  padding: 5px 20px;
}

.content .title .button i {
  margin-right: 5px;
  margin-bottom: 5px;
}

.content .table {
  display: table;
  width: 100%;
}

.content .table .row {
  display: table-row;
}

.content .table .row .cell {
  display: table-cell;
  padding: 0px 5px;
}

.content .table .row .table-header {
  text-transform: uppercase;
}

.content .option {
  border-bottom: 1px solid #303b4c;
  padding-bottom: 15px;
  margin-top: 15px;
}

.content .last-option {
  border: 0 !important;
}

.content .option .label {
  font-size: 16px;
  padding-bottom: 3px;
}

.content .option .banner {
  border-radius: 3px;
  background-color: #202630;
  padding: 0px 3px;
  margin-top: 3px;
  font-size: 12px;
}

.content .option .description {
  font-size: 12px;
  color: #748199;
  display: block;
}

.content .option .description p {
  margin: 3px 0px;
  line-height: 20px;
}

.content .option .description strong {
  background-color: #202630;
  padding: 0px 5px;
  font-weight: normal;
  white-space: nowrap;
}

.content .option .toggle {
  float: right;
  cursor: pointer;
  font-size: 28px;
  margin-left: 10px;
}

.content .option .toggle i {
  vertical-align: top !important;
}

.content .option .slider {
  margin-top: 10px;
}

.content .option .option-value {
  border-radius: 3px;
  background-color: #202630;
  padding: 0px 3px;
}

.content .option .option-value .value {
  font-size: 15px;
}

.content .option .option-value .unit {
  color: #748199;
  font-size: 13px;
}

.content .option label.wrap {
  margin: 5px 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

.content .option select {
  color: #e6eaf2;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #303a4c;
  padding: 5px;
  font-size: 11px;
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.content .option label.wrap:after {
  content:"\f150";
  font-family: "Font Awesome\ 5 Free";
  color: #748199;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 1;
  width: 20px;
  pointer-events: none;
}

.content input {
  width: 100%;
  border: 0;
  background-color: #303a4c;
  color: #e6eaf2;
  margin: 5px 0px;
  padding: 5px 5px;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content input::placeholder {
  color: #748199;
}

.content .chat-button-label {
  width: 30%;
}

.content .chat-button-message {
  width: 70%;
}

.content .file-select {
  width: 100%;
  background-color: #303a4c;
  color: #e6eaf2;
  display: table;
  margin: 5px 0px;
}

.content .file-select .value {
  display: table-cell;
  font-size: 11px;
  padding: 5px;
}

.content .file-select .select-button {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  background-color: #272f3d;
  padding-left: 10px;
}
